extends ../shared/template

block content
  .row
    .small-2.columns
      &nbsp;
    .small-8.columns
      if err
        .row
          .small-12.columns.error-space
              p #{err}
    .small-2.columns

  .row
    .small-6.columns
      form(action='/beverageTypes/update', method='post', enctype='multipart/form-data')
        fieldset
          legend Update a Beverage
            select(name='beverageId')
              option(selected disabled) Choose a Beverage
              each type in types
                - var id = type._id.toString()
                option(value=id)= type.name

            label Change Product Name
            input(name='name', type='text')

            select(name='quantity')
              option(selected disabled) Choose a quantity to stock
              - for(var i=0; i<quantityLimit; i++){
                - var quantity = i + 1;
                  option(value=quantity)= quantity
              - }

            label Change Logo
            input(name='imageFile', type='file')
            button Update
    .small-6.columns
      h5 Beverages In Machine
      table
        thead
          th
          th Name
          th Quantity
        tbody
          each type in types
            tr
              td
                img(src=type.image)
              td
                strong= type.name
              td
                strong= type.count
