extends ../shared/template

block content

    .row
      .small-2.columns
        &nbsp;
      .small-8.columns
        if err
          .row
            .small-12.columns.error
              span.error-text
                p &quot;#{err}&quot;
      .small-2.columns
        &nbsp;

    .row
      .small-6.columns
        - var id = machine._id.toString()
        form(action='/machines/update/' + id, method='post', enctype='multipart/form-data')
          fieldset
            legend Change Up The Machine
            .row
              .small-12.columns
                label Select a Beverage Price
                select(name='price')
                  - var repititions = 5/.05;
                  - for(var i=0; i<repititions; i++){
                  - var price = (parseInt((i * 0.05) * 100) / 100).toFixed(2);
                    if price === (parseInt(machine.price * 100) / 100).toFixed(2)
                      option(selected value=price)= price
                    else
                      option(value=price)= price
                  -  }
            .row
              .small-12.columns
                label Change Skin
                input(name='imageFile', type='file')
            .row
              .small-12.columns
                input(name='id', type='hidden', value=id)
                button.left-button Update Machine

      .small-6.columns
        form(action='/currencies/update', method='post')
          fieldset
            legend Change Up The Change

            .row
              each currency in currencies
                .small-6.columns
                  label= currency.type
                  select(name=currency.type)
                    - for(var i=0; i<currency.limit; i++){
                      - var coins = i;
                        if coins === currency.count
                          option(selected value=coins)= coins
                        else
                          option(value=coins)= coins
                    -  }
            .row
              .small-12.columns
                button.right-button Update Change Bank



